$page-font-color: whitesmoke;

body {
    height : 100vh;
    margin: 0px;
    font-family: roboto;
}

#app {
    height : 100%;
    display: flex;
    justify-content: center;
}

#main-div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: $page-font-color;
    #title-div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-height:30px;
        background-color: #3500d3;
        text-align: center;
        #header-icon {
            margin: 0 5px;
        }
    }
    #tab-container {
        display: flex;
        justify-content: space-evenly;
        cursor: pointer;
    }
    #content-div {
        width: 100%;
        background-color: #282828;
        flex-grow: 1;
    }
    #footer-line {
        margin: 0px;
        border: 1.5px solid #3500d3;
    }
    #footer-div {
        height: 50px;
        background-color: #282828;
        text-align: center;
    }
}

.story-card {
    display: flex;
    margin: 10px 0px;
    span {
        padding-right: 10px;
    }
    .story-id-div {
        min-width: 30px;
        text-align: center
    }
    .card-title {
        text-decoration: none;
        color: $page-font-color;
    }
    .details-line {
        font-size: 12px;
    }
}

#page-navigation {
    padding : 10px 0;
    box-sizing: border-box;
    min-height: 40px;
    span {
        margin : 0 50px;
    }
    #back-button {
        display: block;
        float : left;
        cursor: pointer;
    }
    #next-button {
        display: block;
        float: right;
        cursor: pointer;
    }
}






